.game-container{
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.game-back__button {
  position: absolute;
  top: 1vh;
  right: 2vh;
}

.game-back__button img {
  height: 6vh;
  width: 6vh;
  rotate: 180deg;
}