.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container h1 {
  color: #e2ded3;
  font-size: 6vh;
  text-transform: uppercase;
  border-bottom: #ff6d24 2px solid;
}

.home-container img {
  width: 40vw;
  height: 40vh;
}

.home-container a {
  font-size: 5vh;
  text-transform: uppercase;
  text-decoration: none;
  color: #e2ded3;
  border-radius: 5px;
  padding: 3vh;
  margin: 2vh;
  width: 62vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container :nth-child(3) {
  background-color: #857671;
}
.home-container :nth-child(4) {
  background-color: #4e413b;
}

.home-container a:hover {
  color: #212121;
  background-color: #ff6d24;
}

@media (min-width:700px) {
  .home-container img {
    width: 20vw;
    height: 40vh;
  }
}

@media (max-width:400px) {
  .home-container a {
    height: auto;
    width: 70vw;
  }
}
